<script type="module" src="../api/lib/user.js"></script>
<nav>
    <div id="logo-container">
        <img src="../images/logo.png" alt="Logo de la app" class="logo">
        <h1><a class="app-name" href="../pages/index.html">TaskMaster</a></h1>
    </div>
    <ul id="nav-container">
        <li id="tasks-nav"><a href="../pages/task.html">Tasks</a></li>
        <li id="subjects-nav"><a href="../pages/subjects.html">Subjects</a></li>
        <li id="calendary-nav"><a href="../pages/calendary.html">Calendary</a></li>
        <li id="progress-nav"><a href="../pages/progress.html">Progress</a></li>
    </ul>
</nav>
<div id="user-container">
    <a href="../pages/user.html">
        <img src="../images/user.png" alt="icono del usuario" class="logo" id="user-img">
    </a>
    
</div>




