.container-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div-calendary{
    display: flex;
}

.calendar {
    width: 60%;
    height: 80vh; /* Ajusta esto según tus necesidades */
    margin: 0 auto; /* Centra el calendario horizontalmente */
  }
  

.fc-toolbar-chunk{
    display: flex;
}

.actual-day{
    border: 1px solid #65D6DD;
    border-radius: 5px;
    height: 70vh;
    margin-bottom: 0;
}

.actual-day-header{
    display: flex;
    border-bottom: 1px solid #65D6DD;
    height: 20%;
}

#actual-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

#task-list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2, p{
    margin: 10px 10px;
}

.day-with-tasks{
    background-color: rgb(41 63 28);
}

.task{
    text-align: center;
    border: 1px solid #65D6DD;
    border-right: 0;
    border-left: 0;
    margin-top: 10px;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    background-color: #0a0a0a;
    cursor: pointer;
}

.circle{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: auto 0 auto 10px;
}
.fc-event-main{
    cursor:auto;
}
.fc-daygrid-day{
    cursor: pointer;
}
.PENDING .circle{
    background-color: #FB0303;
}
.IN_PROGRESS .circle{
    background-color: #FB6B03;    
}
.COMPLETED .circle{
    background-color: #03FB32;
}
