.index-page {
    display: flex;
    align-items: center; 
    gap: 2rem; 
    padding: 1rem; 
    margin-top: 2rem;
    margin: auto 5rem auto 5rem;
}
.index-image{
    width: 80%; 
    max-width: 300px; 
    height: auto;
}
.index-description h1{
    font-size: 3rem;
    border-bottom: 1.5px solid #65D6DD; 
    padding-bottom: 0.5rem; 
    margin-bottom: 1rem; 
}
.index-description p{
    font-size: 1.5rem;
}
.index-services{
    position: absolute;
    width: calc(100%);
    justify-content: center; 
    align-items: center;
    min-height: 60vh;
    background: linear-gradient(to bottom right, #398B90, #65D6DD, #A6EEF1);
}
.services-description{
    text-align: center;
    color: #133034;
}
.services-description h2{
    font-size: 2rem;
}
.services-description span{
    font-size: 1.2rem;
    display: block;
}
.presentation-card{
    display: flex;
    flex-direction: column;
    background-color: #317477;
    border: 1px solid black; 
    border-radius: 10px;
    margin-top: 2rem;
    height: 90%;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    padding: 10px;
    color: #21373a;
}
.presentation-card h2{
    border-bottom: 1px solid #21373a; 
    padding: 3px;
    text-align: center;
    font-size: 25px;
}
.services {
    display: flex;
    justify-content: center; 
    gap: 8rem; 
    padding: 0;
    margin: 0;
    list-style: none; 
}
.services li {
    width: 100%; 
    max-width: 250px; 
}

.presentation-card img{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: 1px solid #21373a;
}

p{
    font-size: 18px;
}
.border-card {
    border: 5px dotted #000; /* Cambia el color y el grosor según prefieras */
    padding: 10px; /* Ajusta el espacio entre el borde y el contenido */
    margin: 5px; /* Ajusta el espacio fuera del borde */
}
.presentation-card p{
    text-align: center;
}
.presentation-card:hover{
    border: 1px solid white; 

}