body{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
button{
    background-color: #65D6DD;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input, textarea{
    box-sizing: border-box;
    background-color: black;
    color: white;
    border-radius: 4px;
    border: 1px solid #65D6DD;
}
input{
    padding-left: 5px;
}
textarea{
    padding-top: 5px;
    padding-left: 5px;
    resize: none;
}

input::placeholder,textarea::placeholder {
    color: #c7c7c7; /* Color más oscuro para el placeholder */
}

.w-60{
    width: 60%;
    margin: auto;
}
.w-50{
    width: 50%;
    margin: auto;
}
.w-40{
    width: 40%;
    margin: auto;
}
.w-10{
    width: 10%;
}
.w-100{
    width: 100%;
}
.h-5{
    height: 30px;
}
.h-10{
    height: 60px;
}
.h-15{
    height: 90px;

}
.h-20{
    height: 120px;

}
#navbar-placeholder{
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}
#navbar-placeholder nav{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
#nav-container{
    list-style: none;
    padding: 0;
    display:flex;
    justify-content: center;
    margin-top: 2.2rem;
}
#nav-container a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 1.5rem 0 0;
}
#nav-container li{
    margin: 0 2rem;
}
.logo{
    height: 60px;
}
.app-name{
    margin: 0 1rem;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}
#logo-container{
    display: flex;
    align-items: center;
    position: absolute;
    margin-right: auto;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
#nav-container a:hover{
    color: #65D6DD;
}
#user-container{
    display: flex;
    align-items: center;
    font-size: 1rem;
    position: relative;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 0.8rem;
}
#user-container span{
    margin-right: 0.5rem;
    font-size: 1.2rem;
}
.index-page {
    display: flex;
    align-items: center; 
    gap: 2rem; 
    padding: 1rem; 
    margin-top: 2rem;
}
.index-image{
    width: 80%; 
    max-width: 300px; 
    height: auto;
}
.index-description h1{
    font-size: 3rem;
    border-bottom: 1.5px solid #65D6DD; 
    padding-bottom: 0.5rem; 
    margin-bottom: 1rem; 
}
.index-description p{
    font-size: 1.5rem;
}
.index-services{
    background-color: #65D6DD;
    justify-content: center; 
    align-items: center;
    min-height: 70vh;
}
.services-description{
    text-align: center;
    color: #133034;
}
.services-description h2{
    font-size: 2rem;
}
.services-description span{
    font-size: 1.2rem;
    display: block;
}
.presentation-card{
    background-color: #133034;
    padding: 1rem;
    border: 3px solid #ddd; 
    border-radius: 8px;
    margin-top: 2rem;
    height: 100%;
}
.services {
    display: flex;
    justify-content: center; 
    gap: 3rem; 
    padding: 0;
    margin: 0;
    list-style: none; 
}
.services li {
    width: 100%; 
    max-width: 250px; 
}
.services li h3{
    font-size: 1.5rem;
}
.presentation-card:hover{
    background-color: #3F2182;
}

