button{
    background-color: #65D6DD;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input, textarea{
    box-sizing: border-box;
    background-color: black;
    color: white;
    border-radius: 4px;
    border: 1px solid #65D6DD;
}
input{
    padding-left: 5px;
}
textarea{
    padding-top: 5px;
    padding-left: 5px;
    resize: none;
}

input::placeholder,textarea::placeholder {
    color: #c7c7c7; /* Color m치s oscuro para el placeholder */
}

.w-60{
    width: 60%;
    margin: auto;
}
.w-50{
    width: 50%;
    margin: auto;
}
.w-40{
    width: 40%;
    margin: auto;
}
.w-10{
    width: 10%;
}
.w-100{
    width: 100%;
}
.h-5{
    height: 30px;
}
.h-10{
    height: 60px;
}
.h-15{
    height: 90px;

}
.h-20{
    height: 120px;

}
.flex{
    display: flex;
}

select{
    padding: 2px;
    background: #353535;
    border: none;
    color: white;
}

option{
    border: none;
    background: #353535;    
    color: white;
}

.select-status{
    margin-left: 70px;
}
.addButton {
    font-size: 1.17em;
    height: min-content;
    padding: 10px 20px;
    align-self: flex-start; /* Alinea el bot칩n al principio del contenedor padre */
    margin-block: auto;
    margin-left: auto; /* Mueve el bot칩n a la izquierda */
}

h2{
    margin-block: 0.5em;
}

h3{
    margin-block: 0;
}

#tasks-container {
    width: 90%;
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente fila */
    gap: 5%;
}

.task {
    align-items: center;
    background-color: #494949;
    color: white;
    border-radius: 10px;
    width: 30%; /* Ajusta el ancho para que 3 elementos quepan en una fila */
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho total */
    margin-bottom: 2%; /* A침ade espacio entre las filas */
}
.task-header{
    display: flex;
    position:relative;
}
.circle{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: auto 0 auto 10px;
}

.PENDING .circle{
    background-color: #FB0303;

}
.IN_PROGRESS .circle{
    background-color: #FB6B03;    
}
.COMPLETED .circle{
    background-color: #03FB32;
}
.task h4, .task p{
    margin: 0.2em 0.5em;
}
.task-icon{
    top: 5px; 
    cursor: pointer;
}
.close-button{
    position: absolute;
    right: 5px;
    font-size: 12px;
    background-color: #494949;
    color:#BEB8B8;
}
.edit-icon{
    height: 20px;
}