.flex{
    display: flex;
}

select{
    padding: 2px;
    background: #353535;
    border: none;
    color: white;
}

option{
    border: none;
    background: #353535;    
    color: white;
}

.select-status{
    margin-left: 70px;
}
.addButton {
    font-size: 1.17em;
    height: min-content;
    padding: 10px 20px;
    align-self: flex-start; /* Alinea el botón al principio del contenedor padre */
    margin-block: auto;
    margin-left: auto; /* Mueve el botón a la izquierda */
}

h2{
    margin-block: 0.5em;
}

h3{
    margin-block: 0;
}

#tasks-container {
    width: 90%;
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente fila */
    gap: 5%;
}

.task {
    align-items: center;
    background-color: #494949;
    color: white;
    border-radius: 10px;
    width: 30%; /* Ajusta el ancho para que 3 elementos quepan en una fila */
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho total */
    margin-bottom: 2%; /* Añade espacio entre las filas */
}
.task-header{
    display: flex;
}
.circle{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: auto 0 auto 10px;
}

.PENDING .circle{
    background-color: #FB0303;

}
.IN_PROGRESS .circle{
    background-color: #FB6B03;    
}
.COMPLETED .circle{
    background-color: #03FB32;
}
.task h4, .task p{
    margin: 0.2em 0.5em;
}